<h2 class="text-2xl text-center text-teal-500">Which are you?</h2>

<div class="flex flex-wrap">
  <section class="w-full md:w-1/2 py-6 px-4 text-center border-b lg:border-0">
    <p class="text-xl">I am vulnerable to severe illness from COVID-19, and I need help running errand(s).</p>
    <div class="mt-6 flex justify-center">
      <%= link_to fa_icon('parachute-box', text: 'Request an Errand'),
                  sign_up_path(role: 'customer'),
                  class: 'btn btn-lg btn-primary' %>
    </div>
  </section>

  <section class="w-full md:w-1/2 py-6 px-4 text-center">
    <p class="text-xl">I am interested in volunteering to run errand(s) for those in need.</p>
    <div class="mt-6 flex justify-center">
      <%= link_to fa_icon('running', text: 'Volunteer'),
                  sign_up_path(role: 'volunteer'),
                  class: 'btn btn-lg btn-primary' %></div>
  </section>
</div>
