<nav id="top-navigation" class="w-full z-50 bg-gray-700 flex items-center justify-between py-1">
  <div class="left-buttons w-1/6">
    <button class="py-2 px-4 rounded text-gray-500 hover:text-gray-300"
            type="button"
            data-target="sidebar.toggle"
            data-action="sidebar#toggleSidebar"
            aria-controls="sidebar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <%= fa_icon 'bars', icon_class: 'fa-lg' %>
    </button>
  </div>

  <div class="navbar-brand w-2/3">
    <%= link_to root_path, class: 'no-underline', data: { turbolinks: false } do %>
      <h1 class="font-bold lg:text-xl text-center tracking-tight text-gray-300">Kindness Kills COVID-19</h1>
    <% end %>
  </div>

  <div class="right-buttons w-1/6"></div>
</nav>
